.card {
  width: 323px;
  height:323px; 
  position: relative;
  display: flex;
  justify-content: center;
}
.card__like-name{ 
  position:absolute; 
  display:flex; 
  align-items: center;
  justify-content: center;
  gap: 10px; 
  top:15px; 
}
.card__like{ 
  width: 18px; 
  height: 15px; 
  border:2px; 
  color: rgba(0,0,0,0.6); 
}
.card__name {
  margin: 0;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 2px 12px;
}
.card__image {
  width: 100%;
}
